<template>
  <!--begin::Toolbar-->
  <div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div
      id="kt_toolbar_container"
      :class="{
        'container-fluid': toolbarWidthFluid,
        'container-xxl': !toolbarWidthFluid,
      }"
      class="d-flex flex-stack"
    >
      <!--begin::Page title-->
      <div
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
        class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
      >
        <!--begin::Title-->
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
          {{ title }}
        </h1>
        <!--end::Title-->

        <span v-if="breadcrumbs"
          class="h-20px border-gray-200 border-start mx-4"
        ></span>

        <!--begin::Breadcrumb-->
        <ul
          v-if="breadcrumbs"
          class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1"
        >
          <li class="breadcrumb-item pe-3">
            <router-link to="/dashboard" class="text-muted text-hover-primary">
              Dashboard
            </router-link>
          </li>
          <li class="breadcrumb-item">
            <span class="bullet bg-gray-200 w-5px h-2px"></span>
          </li>
          <template v-for="(item, index) in breadcrumbs" :key="index">
            <li class="breadcrumb-item" :class="item.active ? 'text-dark' : 'text-muted'">
              <template v-if="item.path">
                <router-link :to="{ name: item.path}" class="text-muted text-hover-primary">
                  {{ item.name }}
                </router-link>
              </template>
              <template v-else>
                  {{ item.name }}
              </template>
            </li>
            <li class="breadcrumb-item" v-if="breadcrumbs.length - 1 !== index">
              <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
          </template>
          <!-- <li class="breadcrumb-item pe-3 text-dark">
            {{ title }}
          </li> -->
        </ul>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page title-->
      <!--begin::Actions-->
      <div class="d-flex align-items-center py-1" >
        <!--begin::Button-->
        <template v-for="(item, index) in actionButtons" :key="index">
          <button type="button" v-if="( item.isAllowed == false ) ? false : true" class=" btn " :class="item.class ?? item.class" @click="setActionButtonEmit(item.action)"><i :class="item.iconClass" v-if="item.iconClass"></i>{{item.name}}<span v-if="item.isLoader" class="spinner-border spinner-border-sm align-middle ms-2"></span></button>
        </template>
        <!--end::Button-->
      </div>
      <!--end::Actions-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Toolbar-->
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useStore } from "vuex";
import Dropdown1 from "@/components/dropdown/Dropdown1.vue";
import { toolbarWidthFluid } from "@/core/helpers/config";
import useEventBus from '../../composable/useEventBus'

export default defineComponent({
  name: "KToolbar",
  props: {
    breadcrumbs: Array,
    title: String,
  },
  components: {
    Dropdown1,
  },
  setup() {
    const store = useStore();
    const { onEvent } = useEventBus();
    const { emitEvent } = useEventBus()
    onEvent('loader', (loaderObj) => {
      let index = actionButtons.value.findIndex((i) => i.action === loaderObj['action']);
      actionButtons.value[index].isLoader = loaderObj['save_loader'];
    })
    const setActionButtonEmit = ((actionName)=>{
      emitEvent('actionName',actionName)
    });
    const actionButtons = computed(() => {
      return store.getters.pageActionButtons;
    });
    return {
      toolbarWidthFluid,
      setActionButtonEmit,
      actionButtons
    };
  },
});
</script>
