<template>
  <!-- Order Products Modal -->
  <div
    class="modal fade modal-xl modal-fullscreen"
    id="order_products_modal"
    ref="modalRef"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog mw-1400px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <p class="mt-2 mb-0">
              Order Items (<a
                href="javascript:void(0)"
                @click.prevent="openDetailPage(orderTableId)" 
                data-bs-dismiss="modal"
                >#{{ orderTableId }}</a
              >)
            </p>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <Datatable
            :table-data="tableData"
            :table-header="tableHeader"
            :empty-table-text="noDataFound"
            :loading="loading"
            :enable-items-per-page-dropdown="false"
          >
            <template v-slot:cell-image="{ row: data }">
              <el-image
                style="width: 100px; height: 100px"
                :src="data.product_files[0]"
                :preview-src-list="data.product_files"
                :initial-index="0"
                fit="cover"
              >
                <template #error>
                  <div class="image-slot">
                    <el-image
                      style="width: 100px; height: 100px"
                      :src="'/media/no-img.jpg'"
                      fit="cover"
                    />
                  </div>
                </template>
              </el-image>
            </template>
            <template v-slot:cell-productDetails="{ row: data }">
              <div class="d-flex align-items-center">
                <div>
                  <a
                    href="javascript:void(0)"
                    class="fw-bolder text-gray-600 text-hover-primary"
                    >{{ data.product_name }}</a
                  >
                  <div class="fs-7 text-muted" v-if="!!data.product_sku">
                    {{ generalConstants.SKU }}: {{ data.product_sku }}
                  </div>
                  <div class="fs-7 text-muted" v-if="!!data.product_weight">
                    {{ ordersConstants.WEIGHT }}: {{ data.product_weight }}
                  </div>
                </div>
              </div>
            </template>
            <template v-slot:cell-additionalInfo="{ row: data }">
              <div v-if="data.product_additional_info.length > 0">
                <div
                  v-for="(optionsData, i) in data.product_additional_info"
                  :key="i"
                >
                  <dl class="row mb-0">
                    <dt class="col-sm-6 text-right pl-0 mb-0 pr-0">
                      <span v-html="optionsData.option_title"></span> :
                    </dt>
                    <dd class="col-sm-6 mb-0">
                      <span v-html="optionsData.option_value"></span>
                    </dd>
                  </dl>
                </div>
              </div>
            </template>
            <template v-slot:cell-shippingTypeAndMethods="{ row: data }">
              <span
                ><span>{{ data.shipping_method }} {{ data.shipping_type }}</span
                >&nbsp;
              </span>
            </template>
            <template v-slot:cell-productiondue="{ row: data }">
              <span class="badge badge-light-info">{{
                data.order_product_status_title
              }}</span
              ><br />
              <span v-if="data.production_due_date"
                ><b> {{ ordersConstants.PRODUCTION_DUE }} : </b>
                {{ formatDate(data.production_due_date) }}</span
              >
            </template>
            <template v-slot:cell-quantity="{ row: data }">
              <span class="badge bg-primary">{{ data.product_quantity }}</span>
            </template>
            <template v-slot:cell-price="{ row: data }">
              {{ formatPrice(data.product_price) }}
            </template>
            <template v-slot:cell-actions="{ row: data }">
              <el-tooltip class="box-item" effect="dark" :content="ordersConstants.VIEWORDERDETAILS" placement="top">
                <button type="button" data-bs-dismiss="modal" @click.prevent="openDetailPage(data.id)" class="btn btn-icon btn-light btn-sm me-2">
                  <i class="bi bi-eye"></i>
                </button>
              </el-tooltip>
            </template>
          </Datatable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import ApiService from "@/core/services/ApiService";
import { notificationFire } from "@/composable/notification.js";
import globalConstant from "@/core/data/globalConstant.js";
import Datatable from "@/components/kt-datatable/KTDatatable.vue";
import { useRouter } from "vue-router";
import {
  createOrderPoductOptions,
  createOrderPoductFiles,
  prepareClientDetails,
} from "@/composable/order.js";
import { formatDate, formatPrice } from "@/core/helpers/common";

export default {
  name: "viewOrderProducts",
  components: {
    Datatable,
  },
  setup() {
    const generalConstants = globalConstant.general;
    const ordersConstants = globalConstant.orders;
    const noDataFound = ref("No Data Found!");
    const tableData = ref([]);
    const loading = ref(false);
    const orderTableId = ref(0);
    const isPendingOrder = ref(false);
    const router = useRouter();
    const tableHeader = ref([
      {
        name: generalConstants.SRNO,
        key: "index",
        sortable: true,
        width: "w-10px",
        alignment: 'text-center'
      },
      {
        name: generalConstants.IMAGE,
        key: "image",
        sortable: true,
        width: "w-100px",
        alignment: 'text-center'
      },
      {
        name: ordersConstants.PRODUCT_DETAILS,
        key: "productDetails",
        sortable: true,
        width: "w-250px",
      },
      {
        name: ordersConstants.ADDITIONAL_INFORMATION,
        key: "additionalInfo",
        width: "w-200px",
        sortable: false,
      },
      {
        name: "Shipping Type & Method",
        key: "shippingTypeAndMethods",
        width: "w-200px",
        sortable: false,
      },
      {
        name: ordersConstants.PRODUCTION_DUE,
        key: "productiondue",
        sortable: false,
      },
      {
        name: generalConstants.QUANTITY,
        key: "quantity",
        sortable: false,
        alignment: 'text-center'
      },
      {
        name: generalConstants.PRICE,
        key: "price",
        sortable: false,
        alignment: 'text-center'
      },
      {
        name: generalConstants.ACTIONS,
        key: "actions",
        sortable: false,
      },
    ]);

    const openDetailPage = (order_id) => {
      const routeURL = (isPendingOrder.value == true) ? "/pending-orders/" : "/orders/";
      router.push(routeURL + order_id);
    };

    const getOrderProducts = async (orderId, isPending) => {
      loading.value = true;
      const url = (isPending) ? "temporderproducts" : "orderproducts";
      isPendingOrder.value = (isPending) ? true : false;
      orderTableId.value = orderId;
      await ApiService.query(url, { params: { order_id: orderId } })
        .then(({ data }) => {
          if (data.data) {
            tableData.value = data.data;
            
            if (tableData.value.length > 0) {
              tableData.value.forEach((value) => {
                value["client_detail"] = prepareClientDetails(tableData.value)[
                  "clientDetails"
                ];
                value["product_additional_info"] =
                  createOrderPoductOptions(value)["productAdditionalInfo"];
                value["product_files"] =
                  createOrderPoductFiles(value)["productFilesInfo"];
              });
            }
          }
          loading.value = false;
        })
        .catch((error) => {
          tableData.value = [];
          loading.value = false;
          let message = "";
          if (typeof error.response !== "undefined") {
            message = error.response.data.message;
          } else if (typeof error.message !== "undefined") {
            message = error.message;
          } else {
            message = "Something went wrong";
          }
          notificationFire(message, "error");
        });
    };

    return {
      noDataFound,
      orderTableId,
      getOrderProducts,
      formatDate,
      tableData,
      tableHeader,
      generalConstants,
      ordersConstants,
      openDetailPage,
      formatPrice,
      isPendingOrder,
      loading
    };
  },
};
</script>
<style lang="scss">
.mw-1400px{
  max-width: 1400px;
}
</style>