<template>
  <div v-loading="formLoading">
      <h2>Add Customer</h2>
    <div class="card mb-5 mb-xl-10" v-if="customerId">
      <div class="card-header border-0 pt-6">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center mb-2 float-left">
            <span class="text-gray-900 text-hover-primary fs-2 fw-bolder me-1">{{ oldCustomerData.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header border-0 pt-6">
        <el-form
          :model="formData"
          :rules="rules"
          ref="formRef"
          class="w-100 demo-ruleForm"
          status-icon
        >
          <div class="row g-9">
            <div class="col-md-6 fv-row">
              <div class="mb-5">
                <label class="required fs-6 fw-bold mb-2">Customer Name</label>
                <el-form-item prop="name">
                  <el-input size="large"
                    v-model="formData.name"
                    type="text"
                    placeholder="Customer Name"
                  />
                </el-form-item>
              </div>
            </div>
            <div class="col-md-6 fv-row">
              <div class="mb-5">
                <label class="required fs-6 fw-bold mb-2">Customer Email</label>
                <el-form-item prop="email" abel="Email">
                  <el-input size="large"
                    v-model="formData.email"
                    type="text"
                    placeholder="Customer Email"
                  />
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="row g-9" v-if="customerId == 0 ">
            <div class="col-md-6 fv-row">
              <div class="mb-5">
                <label class="required fs-6 fw-bold mb-2">Password</label>
                <el-form-item prop="password">
                  <el-input size="large"
                    v-model="formData.password"
                    type="password"
                    placeholder="Password"
                  />
                </el-form-item>
              </div>
            </div>
            <div class="col-md-6 fv-row">
              <div class="mb-5">
                <label class="required fs-6 fw-bold mb-2">Confirm Password</label>
                <el-form-item prop="confirmPassword">
                  <el-input size="large"
                    v-model="formData.confirmPassword"
                    type="password"
                    placeholder="Confirm Password"
                  />
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="row g-9">
            <div class="col-md-12 mb-5 mt-12">
                <button type="button" class=" btn btn-primary me-2" :disabled="loading"  @click="submitForm(formRef, 'save')">{{constants.general.SAVE}}<span v-if="loading" class="spinner-border spinner-border-sm align-middle ms-2"></span></button>
                <button type="button" class=" btn btn-primary me-2" :disabled="loadingback" @click="submitForm(formRef, 'save_back')">{{constants.general.SAVEANDBACK}}<span v-if="loadingback" class="spinner-border spinner-border-sm align-middle ms-2"></span></button>
                <button type="button" class=" btn btn-secondary me-2" @click.prevent="$router.push({ name: 'customers'})">{{constants.general.CANCEL}}</button>
            </div>
          </div>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref, onMounted, watch, onUpdated } from 'vue';
import ApiService from "@/core/services/ApiService";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import { useRouter } from "vue-router";
import { useRoute } from "vue-router";
import { notificationFire } from "@/composable/notification.js";
import { ElNotification } from 'element-plus';
import globalConstant from "@/core/data/globalConstant.js";
import { formatText } from "@/core/helpers/common";
import { setCurrentPageActionButtons } from "@/core/helpers/actionButtons";

export default {
  name: "add-new-customer",
  setup() {
    const formRef = ref();
    const router = useRouter();
    const route = useRoute();
    const loading = ref(false);
    const loadingback = ref(false);
    const customerId = ref(0);
    const formLoading = ref(false);
    const constants = globalConstant;
    const oldCustomerData = reactive({
      name: '',
      description: ''
    });
    const formData = reactive({
      name: "",
      email: "",
      password: '',
      confirmPassword: '',
    });

    //Different validations
    const validatePassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input the password'))
      } else {
        if (formData.confirmPassword !== '') {
          if (!formRef.value) return
          formRef.value.validateField('confirmPassword', () => null)
        }
        callback()
      }
    }

    const validateConfirmPassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input the password again'))
      } else if (value !== formData.password) {
        callback(new Error("Two inputs don't match!"))
      } else {
        callback()
      }
    }

    const rules = reactive({
      name: [
        {
          required: true,
          message: "Customer name is required",
          trigger: "change",
        },
      ],
      email: [
        {
          required: true,
          message: "Customer email is required",
          trigger: "change",
        },
        {
          type: 'email',
          message: 'Please enter a valid email address.',
          trigger: ['blur', 'change'],
        },
      ],
      password: [{ validator: validatePassword, trigger: 'blur' }],
      confirmPassword: [{ validator: validateConfirmPassword, trigger: 'blur' }],
    });

    const handleError = (err) => {
      let response = err.response;
      if (response) {
        let status = response.status;
        let message = response.data.message;
        if (status == 404) {
          router.push({ path: "/customers" });
        }
        if (typeof message == "object") {
          let msgString = '';
          message.forEach((obj) => {
            msgString += '<p>'+obj+'</p>';
          });
          ElNotification({dangerouslyUseHTMLString: true, title: 'Error', message: msgString, type: 'error'})
        } else {
          ElNotification({title: 'Error', message: message, type: 'error'})
        }
      }
      loading.value = false;
    }

    //Save the customer data
    const submitForm = async (formEl, btnName, isToolbarButtonsSubmitAction = false) => {
      formEl = (isToolbarButtonsSubmitAction)?formEl.value:formEl;
      if (!formEl) return
      await formEl.validate((valid, fields) => {
        if (valid) {
          (isToolbarButtonsSubmitAction)?emitEvent('loader',{"save_loader":true,"action":btnName}):(btnName == "save")?(loading.value = true):(loadingback.value = true);
          let requestUrl = 'users';
          if (customerId.value > 0) {
            requestUrl = 'users/'+customerId.value;
            formData._method = "PUT";
          }
          ApiService.post(requestUrl, formData)
          .then((response) => {
            if (response.data) {
              let status = response.status;
              let message = response.data.message;
              if (status == 200 || status == 201) {
                oldCustomerData.name = formData.name;
                oldCustomerData.description = formData.email;
                if (customerId.value == 0) customerId.value = response.data.data.id;
                notificationFire(message, "success")
                if (btnName == 'save') {
                  (isToolbarButtonsSubmitAction)?emitEvent('loader',{"save_loader":false,"action":btnName}):(btnName == "save")?(loading.value = false):(loadingback.value = false);
                  router.push('/customers/edit/'+customerId.value);
                } else if (btnName == 'save_back') {
                  router.push('/customers');
                }
              }
            }
          })
          .catch((error) => {
            (isToolbarButtonsSubmitAction)?emitEvent('loader',{"save_loader":false,"action":btnName}):(btnName == "save")?(loading.value = false):(loadingback.value = false);
            handleError(error)
          });
        }
      })
    }

    //Get customer details
    const getCustomerDetails = async () => {
      formLoading.value = true;
      await ApiService.query("users/"+route.params.id)
      .then((response) => {
        let userData = response.data.data;
        formData.name = oldCustomerData.name = userData.name;
        formData.email = oldCustomerData.description = userData.email;
        formLoading.value = false;
      })
      .catch((error) => {
        formLoading.value = false;
        let response = error.response;
        if (response) {
          let status = response.status;
          let message = response.data.message;
          ElNotification({
            title: 'Error',
            message: message,
            type: 'error',
          })
          if (status == 404) {
            router.push('/customers');
          }
        }
        //Call common error function here
      });
    }
    
    //Set breadcrumbs and get the orders
    onMounted(async () => {
      setCurrentPageBreadcrumbs(formatText(route.name), [{"name": "Customers", "path": "customers"}, {"name": formatText(route.name) , "active": true}]);
      if (route.params.id) {
        customerId.value = route.params.id
        await getCustomerDetails();
      }
    })
    return {
      formData,
      rules,
      formRef,
      loading,
      loadingback,
      submitForm,
      customerId,
      formLoading,
      constants,
      oldCustomerData
    };
  }
}
</script>