<template>
<div>
    <h2>Customres</h2>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <div class="card-title">
        <div class="d-flex align-items-center position-relative my-1">
          <input
            type="text"
            v-model="searchParams.search"
            v-on:keyup.enter="handleSearch"
            class="form-control form-control-solid w-250px me-2"
            :placeholder="constants.customers.SEARCH_CUSTOMER_DETAILS"
          />
        </div>
        <el-tooltip class="box-item" effect="dark" :content="constants.general.SEARCH" placement="top">
          <button type="button" @click.prevent="handleSearch" class="btn btn-icon btn-light btn-sm me-2"><i class="bi bi-search"></i></button>
        </el-tooltip>
        <el-tooltip class="box-item" effect="dark" :content="constants.general.RESET" placement="top">
          <button type="button" @click.prevent="resetSearch" class="btn btn-icon btn-light btn-sm"><i class="bi bi-arrow-counterclockwise"></i></button>
        </el-tooltip>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary" @click="$router.push({ name: 'add-customer' })"><i class="bi bi-plus-circle-fill fs-4"></i>Add</button>
      </div>
    </div>
    <div class="card-body pt-0">
      <Datatable
        :table-data="tableData"
        :table-header="tableHeader"
        :empty-table-text="noDataFound"
        :loading="loading"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:cell-name="{ row: data }">
          {{ data.name }}
        </template>
        <template v-slot:cell-email="{ row: data }">
          {{ data.email }}
        </template>
        <template v-slot:cell-actions="{ row: data }">
          <div>
            <el-tooltip class="box-item" effect="dark" :content="constants.general.EDIT" placement="top">
              <button type="button" @click.prevent="$router.push({ name: 'edit-customer', params: { id: data.id } })" class="btn btn-icon btn-light btn-sm me-2">
                <i class="bi bi-pencil-square"></i>
              </button>
            </el-tooltip>
            <el-tooltip class="box-item" effect="dark" :content="constants.general.DELETE" placement="top">
              <button type="button" @click.prevent="remove(data.id, tableData.findIndex((i) => i.id === data.id))" class="btn btn-icon btn-light btn-sm">
                <i class="bi bi-trash"></i>
              </button>
            </el-tooltip>
          </div>
        </template>
      </Datatable>
    </div>
  </div>
  </div>
</template>

<script>
import { ref, onMounted, reactive } from 'vue';
import ApiService from "@/core/services/ApiService";
import Datatable from "@/components/kt-datatable/KTDatatable.vue";
import { formatDateTime } from "@/core/helpers/common";
import { notificationFire } from "@/composable/notification.js";
import { ElMessageBox } from 'element-plus';
import { useStore } from "vuex";
import { formatText } from "@/core/helpers/common";
import globalConstant from "@/core/data/globalConstant.js";
import { useRoute } from "vue-router";
import { Actions } from "@/store/enums/RememberSearchEnums";

export default {
  name: "customers-listing",
  components: {
    Datatable,
  },
  setup() {
    const store = useStore();
    const route = useRoute();
		const moduleName = ref((route.meta.module) ? route.meta.module : '');
    const total = ref(0);
    const tableData = ref([]);
    const initCustomers = ref([]);
    const loading = ref(false);
    const noDataFound = ref("No Data Found!");
    const updateProps = ref(null);
    const constants = globalConstant;
	const loggedInUserId = ref(0);
    const searchParams = reactive({
      search: store.getters.getSearch(moduleName.value),
			user_type: 0,
    });
    
    const tableHeader = ref([
      {
        name: constants.general.SRNO,
        key: "index",
        sortable: true,
        width: "w-10px",
      },
      {
        name: constants.customers.NAME,
        key: "name",
        sortable: true,
        width: "w-100px",
      },
      {
        name: constants.customers.EMAIL,
        key: "email",
        width: "w-200px",
        sortable: false,
      },
      {
        name: constants.general.ACTIONS,
        key: "actions",
        width: "w-200px",
        sortable: false,
      },
    ]);

    const handleSearch = () => {
      tableData.value.splice(0, tableData.value.length, ...initCustomers.value);
      if (searchParams.search !== "") {
        let results = [];
        for (let j = 0; j < tableData.value.length; j++) {
          if (searchingFunc(tableData.value[j], searchParams.search)) {
            results.push(tableData.value[j]);
          }
        }
        tableData.value.splice(0, tableData.value.length, ...results);
      }
      store.dispatch(Actions.SEARCH, {'module':moduleName.value,'value':searchParams.search});
      total.value = tableData.value.length;
    }

    const searchingFunc = (obj, value) => {
      for (let key in obj) {
        if (!Number.isInteger(obj[key]) && !(typeof obj[key] === "object")) {
          if (obj[key].toUpperCase().indexOf(value.toUpperCase()) != -1) {
            return true;
          }
        }
      }
      return false;
    };

    //Reset search value
    const resetSearch = () => {
      if(searchParams.search.length > 0){
        searchParams.search = '';
        handleSearch();
      }
    }

    //Get all customers
    const getCustomers = async () => {
      loading.value = true;
      await ApiService.query("users", { params: searchParams })
      .then(({ data }) => {
        if (data.data) {
          tableData.value.splice(0, tableData.value.length, ...data.data);
          initCustomers.value.splice(0, tableData.value.length, ...data.data);
          total.value = data.data.length;
					handleSearch();
        }
        loading.value = false;
        //setCurrentPageBreadcrumbs(formatText(route.name) + " (" + total.value + ")", [{ name: formatText(route.name), active: true }]);
      })
      .catch((error) => {
        let response = error.response;
        let message = response.data.message;
        tableData.value = [];
        total.value = 0;
        loading.value = false;
        notificationFire(message,'error');
      });
    }

    //Delete the customer
    const remove = async (userId, index) => {
      ElMessageBox.confirm(
        'Do you really want to delete this record?',
        'Warning',
        {
          confirmButtonText: 'Ok',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
      .then(() => {
        ApiService.delete("users/"+userId)
        .then((response) => {
          let status = response.status;
          let message = response.data.message;
          if (status == 200) {
            tableData.value.splice(index, 1);
            notificationFire(message, "success");
            total.value = total.value > 0  ? total.value - 1 : 0;
          }
        })
        .catch((error) => {
          notificationFire(error, "error");
        });
      })
    }

    //Set breadcrumbs and get the orders
    onMounted(async () => {
      await getCustomers();
    })

    return {
      tableData,
      total,
      loading,
      formatDateTime,
      handleSearch,
      remove,
      resetSearch,
      searchParams,
      tableHeader,
      noDataFound,
      updateProps,
      constants,
      loggedInUserId,
      moduleName
    }
  }
}
</script>