<template>
  <div class="card">
    <div class="card-header border-0 pt-12">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <MixedWidget2
              widget-classes="card-xl-stretch mb-xl-8"
              widget-color="danger"
              chart-height="200"
              stroke-color="#cb1e46"
            ></MixedWidget2>
          </div>
          <div class="col-md-8" v-loading="orderLoading">
            <div class="card card-xxl-stretch mb-5 mb-xl-8">
              <div class="card-header border-0 pt-5">
                  <h3 class="card-title align-items-start flex-column"><span class="card-label fw-bolder fs-3 mb-1">Recent Orders</span></h3>
                  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
                    <input type="text" v-model="searchParams.orderId" v-on:keyup.enter="getOrders()" class="form-control form-control-solid w-250px me-2" :placeholder="generalConstants.SEARCH" />
                    <el-tooltip class="box-item" effect="dark" :content="generalConstants.SEARCH" placement="top">
                      <button type="button" @click.prevent="handleSearch" class="btn btn-icon btn-light btn-sm me-2"><i class="bi bi-search"></i></button>
                    </el-tooltip>
                    <el-tooltip class="box-item" effect="dark" :content="generalConstants.RESET" placement="top">
                    <button type="button" @click.prevent="getOrders()" class="btn btn-icon btn-light btn-sm"><i class="bi bi-arrow-counterclockwise"></i></button>
                  </el-tooltip>
                  </div>
              </div>
              <div class="card-body py-3">
                  <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                          <tr class="fw-bolder text-muted">
                              <th class="min-w-150px">Order Details</th>
                              <th class="min-w-140px">Order Product Detils</th>
                              <th class="min-w-120px">Trading Platform Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <template v-if="tableData.length">
                            <tr v-for="(order, index) in tableData" :key="index" v-bind:id="'row_'+index">
                                <td><a href="#" class="text-dark fw-bolder text-hover-primary">{{ order.order_id }}</a><span class="text-muted fw-bold text-muted d-block fs-7">{{ order.shipping_method }}</span></td>
                                <td class="text-end">
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ order.order_products_count+' items' }} </span></div></div>
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ order.order_payment.total_amount }} </span></div></div>
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ order.order_date }} </span></div></div>
                                </td>
                                <td>
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ order.trading_platforms.platform_name }} </span></div></div>
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ order.customer_email }} </span></div></div>
                                </td>
                            </tr>
                          </template>
                          <template v-else>
                            <tr>
                              <td colspan="3" align="center">No Data Found</td>
                            </tr>
                          </template>
                        </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4" v-loading="statisticsLoading">
            <div class="card card-xxl-stretch mb-5 mb-xl-8">
              <div class="card-header border-0 pt-5">
                  <h3 class="card-title align-items-start flex-column"><span class="card-label fw-bolder fs-3 mb-1">Today's store-wise Order-Sales</span></h3>
                  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
                    <el-tooltip class="box-item" effect="dark" :content="generalConstants.RESET" placement="top">
                    <button type="button" @click.prevent="getPlatformStatistics()" class="btn btn-icon btn-light btn-sm"><i class="bi bi-arrow-counterclockwise"></i></button>
                  </el-tooltip>
                  </div>
              </div>
              <div class="card-body py-3">
                  <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                          <tr class="fw-bolder text-muted">
                              <th class="min-w-150px">Platform Name</th>
                              <th class="min-w-140px">Total Order Count</th>
                              <th class="min-w-120px">Total Order Product Sale Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          <template v-if="tableData.length">
                            <tr v-for="(platform, index) in platformStatistics" :key="index" v-bind:id="'row_'+index">
                                <td>
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ platform.platform_name }} </span></div></div>
                                  </td>
                                <td class="text-end">
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ platform.order_product_count }} </span></div></div>
                                </td>
                                <td>
                                  <div class="d-flex flex-column w-100 me-2"><div class="d-flex flex-stack mb-2"><span class="text-muted me-2 fs-7 fw-bold">{{ platform.total_product_sale_amount }} </span></div></div>
                                </td>
                            </tr>
                          </template>
                          <template v-else>
                            <tr>
                              <td colspan="3" align="center">No Data Found</td>
                            </tr>
                          </template>
                        </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-8" v-loading="jobProgressLoading">
            <div class="card card-xxl-stretch mb-xl-3">
              <div class="card-header border-0 pt-5">
                  <h3 class="card-title align-items-start flex-column"><span class="card-label fw-bolder fs-3 mb-1">Job Progress</span></h3>
                  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
                    <el-tooltip class="box-item" effect="dark" :content="generalConstants.RESET" placement="top">
                    <button type="button" @click.prevent="getJobProgress()" class="btn btn-icon btn-light btn-sm"><i class="bi bi-arrow-counterclockwise"></i></button>
                  </el-tooltip>
                  </div>
              </div>
              <div class="card-body pt-2">
                  <div class="mb-8 d-flex align-items-center" v-if="jobProgressData.oldData.length > 0">
                    <span class="bullet bullet-vertical h-40px bg-danger me-2"></span>
                    <div class="flex-grow-1"><span>Problem &amp; Needs Immediate Attention</span></div>
                    <span v-for="(job, index) in jobProgressData.oldData" :key="index" v-bind:id="'row_'+index" align="center" class="badge fs-8 fw-bolder badge-danger me-1">{{ job.order_id }}</span>
                  </div>
                  <div class="mb-8 d-flex align-items-center" v-if="jobProgressData.currentData.length > 0">
                    <span class="bullet bullet-vertical h-40px bg-warning me-2"></span>
                    <div class="flex-grow-1"><span>Slow</span></div>
                    <span v-for="(job, index) in jobProgressData.currentData" :key="index" v-bind:id="'row_'+index" align="center" class="badge fs-8 fw-bolder badge-warning me-1">{{ job.order_id }}</span>
                  </div>
                  <div class="mb-8 d-flex align-items-center" v-if="jobProgressData.futureData.length > 0">
                    <span class="bullet bullet-vertical h-40px bg-success me-2"></span>
                    <div class="flex-grow-1"><span>Success</span></div>
                    <span v-for="(job, index) in jobProgressData.futureData" :key="index" v-bind:id="'row_'+index" align="center" class="badge fs-8 fw-bolder badge-success me-1">{{ job.order_id }}</span>
                  </div>
                  <div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script >
import { defineComponent, ref, reactive, onMounted } from "vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import ApiService from "@/core/services/ApiService";
import { formatText } from "@/core/helpers/common";
import { notificationFire } from "@/composable/notification.js";
import MixedWidget2 from "@/components/widgets/mixed/Widget2.vue";
import { useRoute, useRouter } from "vue-router";
import globalConstant from "@/core/data/globalConstant.js";

export default defineComponent({
  name: "dashboard",
  components: {
    MixedWidget2,
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const latestProducts = ref([]);
    const orderLoading = ref(false);
    const statisticsLoading = ref(false);
    const jobProgressLoading = ref(false);
    const tableData = ref([]);
    const generalConstants = globalConstant.general;
    const platformStatistics = reactive([]);
    const jobProgressData = reactive({
      oldData: [],
      currentData: [],
      futureData: [],
    });
    const searchParams = reactive({
      recordsPerPage: 20,
      pageNub: 1,
      orderId: '',
    })

     //Get all orders
    const getOrders = async () => {
      orderLoading.value = true;
      await ApiService.query("orders", { params: searchParams })
      .then(({ data }) => {
        if (data.data.data) {
          tableData.value.splice(0, tableData.value.length, ... data.data.data);
        }
        else
        {
          tableData.value = [];
        }
        orderLoading.value = false;
      })
      .catch((error) => {
        //Toast the error here
        tableData.value = [];
        orderLoading.value = false;
      });
    }

    //Get Platform Wise Order Statistics
    const getPlatformStatistics = async () => {
      statisticsLoading.value = true;
      await ApiService.post("dashboard/platform-statistics")
      .then(({ data }) => {
        platformStatistics.splice(0, platformStatistics.length, ... data.data);
        statisticsLoading.value = false;
      })
      .catch((error) => {
        //Toast the error here
        tableData.value = [];
        statisticsLoading.value = false;
      });
    }

    //Get Job Progress Data
    const getJobProgress = async () => {
      jobProgressLoading.value = true;
      await ApiService.post("dashboard/job-progress")
      .then(({ data }) => {
        if(data.data.oldData){
          jobProgressData.oldData = data.data.oldData;
        }
        if(data.data.currentData){
          jobProgressData.currentData = data.data.currentData;
        }
        if(data.data.futureData){
          jobProgressData.futureData = data.data.futureData;
        }
        jobProgressLoading.value = false;
      })
      .catch((error) => {
        //Toast the error here
        tableData.value = [];
        jobProgressLoading.value = false;
      });
    }


    onMounted(async () => {
      setCurrentPageBreadcrumbs(formatText(route.name), [{ name: formatText(route.name), active: true }]);
      getOrders();
      getPlatformStatistics();
      getJobProgress();
    });
    return {
      router,
      tableData,
      jobProgressData,
      platformStatistics,
      generalConstants,
      searchParams,
      getOrders,
      getPlatformStatistics,
      getJobProgress,
      orderLoading,
      statisticsLoading,
      jobProgressLoading
    };
  },
});
</script>
<style sass>
.badge.arrowed, .badge[class*=arrowed-] {padding:0.22rem 0.5rem 0.28rem; font-size:0.75rem;}
.btn.btn-icon.btn-sm,
.btn-group-sm > .btn.btn-icon {
  height: calc(2.1em + 1.1rem + 2px);
  width: calc(2.1em + 1.1rem + 2px);
}
</style>